* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "SamsungOne", arial, sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  padding: 30px 65px 20px 65px;
}
.left-div {
  padding-left: 70px;
}
.categories {
  margin-left: 8px;
  cursor: pointer;
  font-family: "SamsungOne", arial, sans-serif;
  font-size: 14px;
}
.categories:hover {
  background-color: black;
  color: white;
  margin-top: -5px;
  border-radius: 30px;
  transition: 100ms ease-in-out;
  padding: 5px 8px;
}
.category-2 {
  display: flex;
  margin-top: -10px;
  margin-left: 27em;
  font-size: 14px;
}
.category-2 span {
  padding-right: 25px;
}
.right-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-icons span {
  font-size: 30px;
  padding-left: 15px;
  font-weight: lighter;
  margin-top: -5px;
}
.slide {
  padding-left: 45px;
}

.slider > span {
  position: absolute;
  line-height: 1.3;
  font-size: 18px;
  padding-left: 20px;
  word-wrap: break-word;
  top: 55%;
  left: 60%;
  transform: translate(-30%, -90%);
}
.slider > h1 {
  font-family: "SamsungSharpSans", arial, sans-serif;
  position: absolute;
  font-weight: bolder;
  top: 45%;
  left: 60%;
  transform: translate(-30%, -90%);
  font-size: 48px;
}
.more-btn {
  position: absolute;
  font-size: 14px;
  padding-left: 20px;
  word-wrap: break-word;
  top: 61%;
  left: 48%;
}
.more-btn button {
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  padding: 10px 20px;
}
.more-btn a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.more-btn > a::after {
  margin-left: -75px;
  position: absolute;
  top: 14px;
  content: "__________";
}
.more-btn > a:hover {
  color: rgba(0, 0, 0, 0.473);
  transition: 200ms ease-out;
}

.more-btn button:hover {
  background-color: rgba(0, 0, 0, 0.795);
  transition: 200ms ease-out;
}
.header-2 {
  margin-top: 90px;
  margin-bottom: 100px;
  font-size: 38px;
  text-align: center;
}
.head {
  display: flex;
  justify-content: center;
}
.head span {
  margin: 0px 10px 30px 40px;
}
.head span > a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.head span > a:hover {
  color: rgba(0, 0, 0, 0.726);
}
.products img {
  display: flex;
  margin: 5px 30px 30px 50px;
  border-radius: 20px;
}
.products > img:hover {
  transition: 500ms ease;
  transform: scale(1.01);
}
